.hero{
    margin: 0px 120px;
    margin-top: 180px;
}
.hero-text{
    color: #fff;
    font-size: 90px;
    font-weight: 500;
    line-height: 95px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin-top: 40px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play{
    color: #fff;
    font-size: 19px;
    /* margin-bottom: 5px; */
}