.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
    color: white;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 80px;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 40px;
    background: #fff;
    color: #262626;
}